html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #F6F6F6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1 h2 h3 h4 h5 h6{
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

button:hover{
  cursor: pointer;
}   

input:hover{
  cursor: pointer;
}   