@import url('https://fonts.googleapis.com/css?family=DM+Sans:200,300,400,500,600,700,800,900&display=swap');

/*
General Styles
*/

.redButton{
    background-color: #E41F26;
    border-radius: 6px;
    font-size: 17px;
    font-family: 'DM Sans', sans-serif;
    border: 0px;
    padding: 12px;
    width: 134px;
    height: 45px;
    font-weight: 400;
    color: #FFFFFF;
}

.greenButton{
    background: #33A454;
    border-radius: 7.10526px;
    border: 0px;
    padding: 12px;
    width: 183px;
    height: 45px;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}

.greyButton{
    background: #A5A5A5;
    border-radius: 7.10526px;
    border: 0px;
    padding: 12px;
    width: 183px;
    height: 45px;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}

.blueButton{
    background: #3AA7D5;
    border-radius: 7.10526px;
    border: 0px;
    padding: 12px;
    width: 183px;
    height: 45px;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}



.payeeDetails{
  display: flex;
  flex-wrap: wrap;
}

.payeeDetails .payeeDetail{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}   

.payeeDetails .payeeDetail h6{
  color: #82859B;
  margin-bottom: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  margin-top: 0px;
}

.payeeDetails .payeeDetail h5{
  color: #222128;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  margin: 0px;
}

.closeBtn{
   background: url("/images/close_btn.png");
   background-position: center;
   background-repeat: no-repeat;
   border:none;
   width: 40px;
   height: 40px;
}

.generalInputField{
    background: #FFFFFF;
    border: 1.26111px solid #82859B;
    box-sizing: border-box;
    border-radius: 12.6111px;
    height: 45px;
    padding-left: 16px;
    color: #82859B;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    opacity: 0.7;
}

.pageTitle{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #222128;
    margin: 0px;
}

.modalTitle{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24.2044px;
    margin: 0px;
}

.paidText{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.2203px;
    color: #3AA7D5;
    border: 1.01574px solid #3AA7D5;
    box-sizing: border-box;
    border-radius: 5.07869px;
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
    margin-right: 16px;
    padding: 6px;
}

.notPaidText{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.2203px;
    padding: 0px;
    text-align: center;
    color: #E41F26;
    border: 1.01574px solid #E41F26;
    box-sizing: border-box;
    border-radius: 5.07869px;
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    margin-right: 16px;
    padding: 6px;
}

.colorRed{
    color: #E41F26;
}

.colorGreen{
    color: #33A454;
}

.adminLeftContent{
    width: 24%;
    min-height: 100vh;
    height: 100vh;
}

.adminRightContent{
    width: 74%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    background: #F6F6F6;
    flex-direction: column;
}


.paymentModal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.paymentModalInnerContent{
    max-width: 700px;
    width: 100%;
    padding: 24px 24px 34px 24px;
    background: #FFFFFF;
    max-height: 100vh;
    min-height: 400px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F6F6F6;
}

.paymentModalInnerContent .paymentModalTopcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 24px;
    width: 100%;
}

.paymentModalInnerContent .paymentModalTopcontent h2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24.2044px;
    margin: 0px;
}

.messageTop{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
}

.messageTop .messageContent{
    min-width: 200px;
    width: 500px;
    padding: 24px;
    background: #FFFFFF;
    max-height: 600pxx;
    min-height: 200px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F6F6F6;
}

.messageTop .messageContent h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24.2044px;
    margin: 0px;
    text-align: center;
}

.messageTop .messageContent h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 17.2044px;
    margin-top: 24px;
    text-align: center;
}

.memberId{
    color: #3AA7D5;
}

.memberAmount{
    color: #33A454;
}






/*
Payee Index
*/

.topContent{
    height: 100vh;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: flex-start;
}


/*
Payee Single Result Component
*/

.payeeResult{
    border-radius: 8px;
    background: #FFFFFF;
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.payeeResult:hover{
    cursor: pointer;
}

.payeeResult .payeeAvatar{
   margin-right: 20px;
}

.payeeResult .payeeDetail{
   align-items: flex-start;
   padding-top: 12px;
   padding-bottom: 12px;
}

.payeeResult  .payeeDetails .payeeDetail h6{
  font-size: 12.9535px;
}

.payeeResult  .payeeDetails .payeeDetail h5{
  font-size: 14.5182px;
}


/*
Payee No Results Component
*/

.payeeNoResults{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    min-width: 240px;
}

.payeeNoResults h1{
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-top: 30px;
}

.payeeNoResults h5{
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 16px;
}

.payeeNoResults .payeeNoResultsImage{
    border-radius: 50%;
    font-size: 18px;
    width: 201px;
    height: 201px;
    border: 3px solid #FFFFFF;
}



/*
Payee Holder Component
*/

.payeeResultsHolder{
    background: #33A454;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 0px;
    height: 100vh;
    overflow-y: scroll;
}




/*
payee Results Component
*/

.payeeResults{
    background: #FFFFFF00;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}




/*
Payee Search Component
*/

.payeeSearch{
    background: #FFFFFF;
    display: flex;
    align-items: top;
    justify-content: flex-start;
    padding-top: 50px;
    padding-right: 35px;
    padding-left: 60px;
    padding-bottom: 30px;
    width: 60%;
    margin: 0px;
}

.payeeSearch h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 35px;
    font-style: normal;
    margin-top: 40px;
}

.payeeSearch .enterText{
    margin-top: 80px;
}

.payeeSearch .membershipIDContent{
    display: flex;
    align-items: center;
}

.payeeSearch .inputField{
    width: calc(100% - 150px);
    margin-right: 16px;
    border-radius: 6px;
    height: 45px;
    padding-left: 16px;
    background: #F6F6F6;
    border: 1.52505px solid #82859B;
    color: #82859B;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    opacity: 0.7;
}


.payeeSearch .orContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.payeeSearch .orContent hr{
    width: 6px;
    color: #82859B;
    background: #82859B;
    height: 1.5px;
    border: 0px;
    margin: 0px;
}

.payeeSearch .orContent h2{
    color: #E41F26;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 0px;
}

.payeeSearch .stateLga{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.payeeSearch select{
    width: 47%;
    border: 1.52505px solid #82859B;
    box-sizing: border-box;
    border-radius: 7.62524px;
    height: 50px;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 18.3006px;
    line-height: 24px;
    color: #82859B;
    padding-left: 20px;
    padding-right: 20px;
}




/*
Payee Profile Component
*/

.payeeProfile{
    background: #FFFFFF;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
    border-radius: 8.14657px;
    padding: 34px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.payeeProfile .topSection{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 35px;
}

.payeeProfile .payeeDetails .payeeDetail{
    padding-top: 16px;
    padding-bottom: 16px;
}

.payeeProfile  .payeeDetails .payeeDetail h6{
    font-size: 17.9535px;
}

.payeeProfile  .payeeDetails .payeeDetail h5{
    font-size: 20.5182px;
}

.payeeProfile .greenButton{
    margin-top: 34px;
}


/*
Payee Amount Component
*/

.payeeAmount{
    background: #FFFFFF;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
    border-radius: 8.14657px;
    padding: 34px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.payeeAmount h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9498px;
    color: #82859B;
    margin: 0px;
}

.payeeAmount h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.payeeAmount .topSection{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 16px;
}


/*
Payee Payment Success
*/

.paymentSuccess{
    background: #FFFFFF;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
    border-radius: 8.14657px;
    padding: 34px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.paymentSuccess .topContent{
    display: flex;
    align-items: content;
    justify-content: flex-end;
    width: 100%;
}   

.paymentSuccess h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    color: #222128;
}

.paymentSuccess button{
    margin-top: 50px;
}



/*
Admin
*/



/*
Admin Login 
*/

.adminLoginTop{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #33A454;
}


.adminLoginInnerContent{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    flex-direction: column;
    width: 400px;
}

.adminLoginInnerContent button{
    margin-top: 40px;
}

.adminLoginInnerContentImage{
    border: 3.02734px solid #F0F1F1;
    box-sizing: border-box;
    border-radius: 18px;
}

.adminLoginInput{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 24px;
}

.adminLoginInput h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20.1778px;
    color: #82859B;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}

.adminLoginInput input{
    background: #FFFFFF;
    border: 1.26111px solid #82859B;
    box-sizing: border-box;
    border-radius: 12.6111px;
    height: 45px;
    padding-left: 16px;
    color: #82859B;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    opacity: 0.7;
}




/*
Admin Dashboard
*/

.adminDashboard{
    width: 100%;
    min-height: 100vh;
}

.adminDashboard .adminDashboardContent{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
}



/*
Admin Search
*/

.adminSearch{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    background: #F6F6F6;
}

.adminTopSearch{
    padding-top: 24px;
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminTopSearch button{
    width: 150px;
}

.adminTopSearch select{
    border: none;
    box-sizing: border-box;
    border-radius: 7.62524px;
    height: 45px;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16.3006px;
    line-height: 24px;
    color: #82859B;
    padding-left: 16px;
    padding-right: 16px;
    width: 150px;
    background: #E41F26;
    color: #FFFFFF;
}

.adminTopSearchSearch{
    display: flex;
    align-items: center;
}

.adminTopSearchSearch select{
    margin-right: 8px;
}

.adminTopSearchSearch input{
    margin-right: 8px;
    border-radius: 7.62524px;
}

.adminTopSearchSearch button{
    margin-right: 8px;
    width: 150px;
}




/*
Admin LeftSearch Component
*/

.adminLeftSearch{
    width: 100%;
    padding: 24px;
}

.adminLeftStateSearch select{
    border: none;
    box-sizing: border-box;
    border-radius: 7.62524px;
    height: 45px;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16.3006px;
    line-height: 24px;
    color: #82859B;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    background: #E41F26;
    color: #FFFFFF;
}

.adminLeftStateSearch .btnSearch{
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.adminLeftStateSearch .btnClear{
    
    width: 100%;
    margin-bottom: 20px;
}

.adminLeftStateSearch{
    background: #FFFFFF;
    padding: 20px;
    border-radius: 7.62524px;
    border: 1px solid #82859B;
    margin-top: 42px;
}


/*
Admin Search Payment component
*/

.adminSearchPayment{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 7.62524px;
    border: 1px solid #82859B;
}

.adminSearchPayment h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20.1778px;
    color: #42454B;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}

.adminSearchPayment .paymentAmount{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18.1778px;
    color: #82859B;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}


.adminSearchPayment .paymentDate{
    margin-top: 16px;
}

.adminSearchPayment .paymentDate h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20.1778px;
    color: #82859B;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}

.adminSearchPayment .paymentDate h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18.1778px;
    color: #222222;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}

.adminSearchPayment button{
    margin-top: 20px;
    width: 100%;
    
}



/*
Admin Members Component
*/

.adminMembers{
    width: 100%;
    margin-top: 24px;
    justify-content: space-between;
}



/*
Admin Member Component
*/

.adminMemberHeader{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.adminMemberHeader h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1889px;
    line-height: 16px;
    color: #222128;
    margin: 0px;
    text-align: left;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.adminMember{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #FFFFFF;
    border-radius: 5.07869px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}


.adminMember h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.1889px;
    line-height: 16px;
    color: #222128;
    margin: 0px;
    text-align: left;
    margin-right: 16px;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}




/*
Admin Payment Filter
*/

.adminPaymentFilter{
    margin-top: 24px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 7.62524px;
    border: 1px solid #82859B;
    display: flex;
    flex-direction: column;
}

.adminPaymentFilter .paymentFilterOption{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.adminPaymentFilter .paymentFilterOption label{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #222128;
    margin-left: 16px;
}




/*
Nav Component
*/
.nav{
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 30px;
   
    background: #FFFFFF;
    position: fixed;
    top: 0;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.nav .image{

}

.nav .navItem{
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    align-items: center;
}

.nav .navItem:hover{
    cursor: pointer;
}

.nav .navItem h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18.2044px;
    line-height: 24px;
    /* identical to box height */


    /* Off blue */

    color: #82859B;
}

.navHolder{
    width: 100%;
    padding-right: 40px;
    margin-top: 30px;
}



/*
Dashboard
*/

.dashboardRightContent{
    margin-left: 220px;
    width: 100%;
}



/*
Change Payment
*/

.changePayment .payment h5
{   
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2044px;
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    flex: 3;
}

.changePayment .payment{
    padding: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.changePayment .paymentItem{
    padding: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
    border-radius: 8.14657px;
    width: 100%;
}

.changePayment .paymentItem:hover{
    cursor: pointer;
}

.changePayment .paymentItem h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2044px;
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    flex: 3;
}





/*
Create Payment Component
*/

.createPayment{
    overflow-y: scroll;
}

.createPayment .paymentModalInnerContent{
    max-width: 500px;
}

.createPayment h5
{   
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2044px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: left;
}

.createPayment .paymentItem{
    margin-bottom: 20px;
}

.createPayment .paymentItem .generalInputField{
    width: 250px;
    min-width: 150px;
}

.createPayment .saveButton{
    width: 250px;
    margin-top: 20px;
    min-width: 150px;
}





/*
Admin Payment Single Component
*/

.singlePayment{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #FFFFFF;
    border-radius: 5.07869px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    border: 1.26111px solid #82859B;
}

.singlePaymentTop{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.singlePayment .paymentItem{
    flex: 3;
}

.singlePayment .paymentItem h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14.2044px;
    margin: 0px;
    text-align: left;
}


.singlePaymentTop .paymentItem{
    flex: 3;
}

.singlePaymentTop .paymentItem h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16.2044px;
    margin: 0px;
    text-align: left;
}


/*
Admin Payment Component
*/

.adminPayment{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #F6F6F6;
}

.adminPaymentHolder{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    background: #F6F6F6;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 32px;
}

.adminPaymentTopContent{
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.adminPaymentTopContent .mobilePaymentFilterBtn{
    display: none;
    margin-right: 16px;
}


/*
Admin Left Payment Component
*/

.adminLeftPayment{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    border-radius: 7.62524px;
    border: 1px solid #82859B;
    margin-right: 24px;
}

.adminLeftPayment select{
    border: none;
    box-sizing: border-box;
    border-radius: 7.62524px;
    height: 45px;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16.3006px;
    line-height: 24px;
    color: #82859B;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    background: #E41F26;
    color: #FFFFFF;
}

.adminLeftPayment button{
    width: 100%;
}

.adminLeftPayment .searchButton{
    margin-top: 34px;
}

.adminLeftPayment .clearButton{
    margin-top: 20px;
}



/*
Admin Payments Component
*/

.adminPayments{
    width: 100%;
    margin-left: 24px;
}




/*
Inner Image
*/

.navImage{
    width: 60px;
    height: 54px;
    max-width: 60px;
    max-height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin-right: 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navImage .innerImage{
    max-width: 25px;
    max-height: 25px;
}





/*
Dashboard Component
*/

.home{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.home .homeTopContent{
    display: flex;
    justify-content: space-between;
}

.home .homeTopContent .homeSearchInput{
    width: 70%;
    margin-left: 24px;
}   

.home .homeTopContent .homeSearchInput:hover{
    cursor: pointer;
}   

.home .payments_count_text{
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
}

.homeContentHolder{
    display: flex;
    width: 100%;
    padding: 24px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.homeContentHolder .homeContentItem{
    border-radius: 8px;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
}

.homeContentHolder .homeContentItem .homeContentItemInnerItem{
    max-height: 120px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid #FFFFFF;
    background: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.homeContentHolder .homeContentItem .homeContentItemImageItem{
    max-height: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E41F26;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.homeContentHolder .homeContentItem .homeContentItemInnerItem h4{
    font-weight: 400;
    font-size: 16px;
    color: #82859B;
    margin: 0px;
}

.homeContentHolder .homeContentItem .homeContentItemInnerItem h3{
    font-weight: 600;
    font-size: 26px;
    color: #33A454;
    margin: 0px;
    margin-bottom: 8px;
}

.homeContentHolder .homeContentItem:hover{
    cursor: pointer;
}




/*
Mobile Search Profile
*/

.modileSearchMember{
    max-width: 400px;
    width: 250px;
    min-width: 20px;
    max-height: 300px;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 5.07869px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 8px 16px 8px;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
}

.modileSearchMember .mobileSearchMemberHorizontalHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.modileSearchMember .mobileSearchMemberHorizontalHolder div{
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.modileSearchMember .modileSearchMemberName{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18.1889px;
    color: #222128;
    margin: 0px 0px 4px 0px;
}

.modileSearchMember .modileSearchMemberTitle{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14.1889px;
    color: #222128;
    margin: 0px 0px 8px 0px;
}

.modileSearchMember h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.1889px;
    line-height: 16px;
    color: #222128;
    margin: 0px;
}

.modileSearchMember .paidText{
    margin: 0px;
}

.modileSearchMember .notPaidText{
    margin: 0px;
}



/*
Mobile Right Nav
*/
.mobileRightNav{
    width: 100%;
    padding: 24px;
    display: none;
    justify-content: space-between;
    align-items: center;
}





/*
Mobile Search Filter Compopnent
*/
.mobileSearchFilter{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 10;
    position: fixed;
}

.mobileSearchFilter .mobileSearchFilterTopContent{
    max-width: 700px;
    min-width: 300px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: scroll;
}

.mobileSearchFilter .closeContent{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.mobileSearchFilterHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}





/*
Payment Menu Options
*/

.paymentMenuBtn:hover{
    cursor: pointer;
}

.paymentMenuOptions{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
}

.paymentMenuOptions .paymentMenuOptionsHolder{
    display: flex;
    background: #FFFFFF;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px 20px 24px;
    border-radius: 8px;
    min-width: 300px;
}

.paymentMenuOptions .paymentMenuOptionsInnerContent{
    display: flex;
    padding: 0px 71px 0px 71px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.paymentMenuOptionsTopcontent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.paymentMenuOptions .paymentMenuOptionsHolder .paymentMenuOptionsItem{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
}

.paymentMenuOptions .paymentMenuOptionsHolder .paymentMenuOptionsItem:hover{
    cursor: pointer;
}

.paymentMenuOptionsItem h4{
    margin-left: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18.1889px;
    line-height: 16px;
    color: #222128;
}








.mobileNav{
    display: none;
}



.singlePaymentMobile{
    display: none;
}






/*
Admin Export
*/

.adminExport{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #F6F6F6;
    padding: 24px;
}

.adminExportHolder{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #FFFFFF;
    padding: 24px;
    border-radius: 8px;
    margin-top: 32px;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
    margin-top: 50px;
}


.adminExportHolder .exportText h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    /* Black */

    color: #222128;
    margin: 0px;
}

.adminExportHolder .exportOptions{
    display: flex;
    width: 100%;
}   

.adminExportHolder .exportOptions{
    display: flex;
    width: 100%;
} 

.adminExportHolder .exportOptions .paymentStatus{
    margin-left: 8px;
}

.adminExportHolder .exportOptions .lga{
    margin-left: 8px;
    margin-right: 8px;
}

.adminExportHolder .exportOptions .state{
    margin-right: 8px;
}

.adminExportHolder .exportOptions h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    /* Black */

    color: #222128;
    margin-bottom: 8px;
}

.adminExportHolder .exportButtons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminExportHolder .exportButtons > *{
    margin-right: 8px;
    margin-left: 8px;
}



/*
Mobile Queries
*/

@media screen and (max-width: 980px){
    .adminExportHolder .exportOptions{
        display: flex;
        width: 100%;
        flex-direction: column;
    } 

    .adminExportHolder .exportOptions .paymentStatus{
        margin-left: 0px;
    }
    
    .adminExportHolder .exportOptions .lga{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .adminExportHolder .exportOptions .state{
        margin-right: 0px;
    }
    
}

@media screen and (max-width: 1200px) {
    
    .adminMember{
        display: none;
    }

    .modileSearchMember{
        display: flex;
    }

    .adminMemberHeader{
        display: none;
    }

    .adminMembers{
        display: flex;
        
        flex-wrap: wrap;
    }

    .adminLeftContent{
        display: none;
    }

    .adminRightContent{
        width: 100%;
    }

    .mobileRightNav{
        display: flex;
    }

    .adminTopSearch{
        display: none;
    }

    .adminLeftStateSearch{
        max-width: 300px;
        width: 300px;
        min-width: 200px;
        padding: 0px 24px 24px 24px;
        margin: 8px 0px 8px 0px;
    }

    .adminSearchPayment{
        max-width: 300px;
        width: 300px;
        min-width: 200px;
        min-height: 373px;
        margin: 8px 0px 8px 0px;
    }

    .adminLeftStateSearch .btnClear{
        margin-bottom: 0px;
    }

    .adminPaymentFilter{
        max-width: 300px;
        width: 300px;
        min-width: 200px;
        min-height: 373px;
        margin: 8px 0px 8px 0px;
    }


    /*
    Admin Top Search
    */
    .mobileTopSearch{
        padding: 24px;
        max-width: 300px;
        width: 300px;
        min-width: 200px;
        min-height: 373px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: #FFFFFF;
        border-radius: 8px;
        border: 1px solid #82859B;
        margin: 8px 0px 8px 0px;
    }
    
    .mobileTopSearch button{
        width: 100%;
    }

    .adminTopSearchSearch{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    
    .adminTopSearchSearch select{
        margin-right: 0px;
        width: 100%;
        margin-bottom: 16px;
    }
    
    .adminTopSearchSearch input{
        margin-right: 0px;
        width: 100%;
        margin-bottom: 16px;
    }
    
    .adminTopSearchSearch button{
        margin-right: 0px;
        width: 100%;
        margin-bottom: 16px;
    }

    .mobileSearchFilter{
        display: flex;
    }



    .adminPaymentTopContent .mobilePaymentFilterBtn{
        display: inline;
    }

    .singlePaymentTop{
        display: none;
    }

    .adminPaymentHolder{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 32px;
    }

    .adminPayments{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .singlePayment{
        display: none;
    }

    .singlePaymentMobile{
        max-width: 250px;
        min-width: 150px;
        width: 250px;
        padding: 24px;
        background: #FFFFFF;
        border-radius: 5.07869px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 0px 16px 16px 0px;
        border: 1.26111px solid #82859B;
    }

    .singlePaymentMobile .paymentItem{
        flex: 3;
    }

    .singlePaymentMobile .paymentItem .paymentName{
        font-weight: 500;
        font-size: 18px;
        text-align: center;
    }

    .singlePaymentMobile .paymentItem .paymentAmount{
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .singlePaymentMobile .paymentItem h5{
        font-family: 'DM Sans';
        font-style: normal;
        text-align: center;
        margin: 0px;
    }
    
    .singlePaymentMobile .paymentItem h4{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 14.2044px;
        margin: 0px 0px 20px 0px;
        text-align: center;
    }



    /*
    Mobile Payment Filter
    */

    .adminMobilePaymentFilter{
        width: 100%;
        height: 100vh;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.3);
    }

    .adminMobilePaymentFilter .adminMobilePaymentFilterHolder{
        width: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 24px;
        height: 90vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        overflow-y: scroll;
    }
    
    .adminMobilePaymentFilter .closeContent{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .adminLeftPayment{
        margin-right: 0px;
    }
}



@media screen and (max-width: 800px) {
    .payeeSearch{
        background: #FFFFFF;
        display: flex;
        align-items: top;
        justify-content: flex-start;
        padding-top: 50px;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 30px;
        width: 100%;
        overflow-y: scroll;
    }

    .payeeResultsHolder{
        display: flex;
        width: 100%;
        overflow-y: scroll;
    }

    .payeeSearch h1{
        font-size: 28px;
        font-style: normal;
        margin-top: 40px;
    }
    
    .payeeSearch .enterText{
        margin-top: 40px;
    }

    .payeeSearch select{
        width: 47%;
        font-style: normal;
        font-size: 14.3006px;
    }

    .payeeResults{
        margin-left: 12px;
        margin-right: 12px;
    }
}   



@media screen and (max-width: 830px) {
    .adminPaymentButtonHolder{
        display: flex;
        flex-direction: column;
    }

    .adminPaymentButtonHolder .mobilePaymentFilterBtn{
        margin-bottom: 16px;
    }

    .adminPaymentTopContent .pageTitle{
        margin-bottom: 16px;
    }
}


@media screen and (max-width: 480px) {
    .payeeSearch .membershipIDContent{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .payeeSearch .inputField{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 8px;
    }

    .payeeSearch button{
        width: 100%;
    }

    .payeeSearch .stateLga{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }
    
    .payeeSearch select{
        width: 100%;
        margin-bottom: 16px;
    }
}


@media screen and (max-width: 660px) {

    .adminExportHolder .exportButtons{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .adminExportHolder .exportButtons > *{
        margin-bottom: 16px;
    }

    /*
    Payee Search Mobile
    */

    .payeeResultsHolder{
        display: none;
    }

    .showDisplayHolderOnMobile{
        background: #33A454;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
        height: 100vh;
        overflow-y: scroll;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        padding: 0px 16px 0px 16px;
    }

    .payeeResults{
        margin-left: 0px;
        margin-right: 0px;
    }



    /*
    Payee Search Mobile End
    */


    .dashboardRightContent{
        margin-top: 100px;
    }
    .nav{
        display: none;
    }

    .adminRightContent{
        width: 100%;
    }

    .dashboardRightContent{
        margin-left: 0px;
        width: 100%;
    }

    .mobileSearchFilterHolder{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        background: #FFFFFF;
        border-radius: 8px;
        height: 100vh;
        overflow-y: scroll;
    }

    .adminDashboard .adminDashboardContent{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }


    /*
    Mobile Nav Component
    */
    .mobileNav{
        width: 100%;
        padding: 8px 24px 8px 24px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
        position: fixed;
    }

    .mobileNav .mobileNavLogoName{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .mobileNav .mobileNavLogoName .mobileNavLogo{
        border-radius: 50%;
    }

    .mobileNav .mobileNavLogoName h4{
        margin-left: 16px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18.1889px;
        color: #222128;
    }
    
    .mobileNav .mobileNavMenuBtn{
        background: url("/images/menu.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 51px;
        height: 39px;
        border: none;
    }



    /*
    Mobile Nav Menu Component
    */
    .mobileNavMenu{
        height: 100vh;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 30px;
        background: #FFFFFF;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        z-index: 10;
    }
    
    .mobileNavMenu .navItem{
        display: flex;
        width: 100%;
        margin-bottom: 8px;
        align-items: center;
    }
    
    .mobileNavMenu .navItem:hover{
        cursor: pointer;
    }
    
    .mobileNavMenu .navItem h5{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18.2044px;
        line-height: 24px;
        /* identical to box height */
    
    
        /* Off blue */
    
        color: #82859B;
    }
    
    .mobileNavMenu .mobileNavMenuHolder{
        padding-right: 40px;
        margin-top: 30px;
    }

    .mobileNavMenu .mobileNavMenuTopContent{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px 0px 24px;
    }

    .mobileNavMenu .mobileNavLogoName{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .mobileNavMenu .mobileNavLogoName .mobileNavLogo{
        border-radius: 50%;
    }

    .mobileNavMenu .mobileNavLogoName h4{
        margin-left: 16px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18.1889px;
        color: #222128;
    }
}

